{% extends "layout.html" %}

{% block css %}
    <title>班级管理</title>
    <link rel="stylesheet" href="/static/style.css"/>
{% endblock %}

{% block modal_add_content %}
    <p>班级名: <input type="text" id="class_name" name="class_name" /></p>
    <span id="error_msg"></span>
{% endblock %}

{% block modal_edit_content %}
    <span id="class_id" style="display: none"></span>
    <p>班级名: <input type="text" id="new_class_name" name="new_class_name" /></p>
    <span id="error_edit_msg"></span>
{% endblock %}

{% block table_content %}
    <div class="table-responsive" style="margin: 0 auto; width: 800px">
        <!--页面标题-->
        <div>
            <h1>班级信息</h1>
        </div>

        <!--添加按钮-->
        <div class="add_button">
            <!--        <input type="button" onclick="ShowModel();" value="添加">-->
            <button type="button" id="addClass" class="btn btn-default">
                添加班级
            </button>
        </div>
        <table class="table table-striped table-hover table-bordered table-condensed"  width="1200px" cellpadding="0">
            <thead>
            <tr>
                <th>序号</th>
                <th>班级名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in content %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <a href="/del-class/?nid={{item.id}}" class="del fa fa-trash-o"></a>
                        |
                        <a class="del_class fa fa-trash-o"></a>
                        |
                        <a href="/edit-class/?nid={{item.id}}" class="fa fa-cut"></a>
                        |
                        <a class="modal_edit fa fa-edit"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            bindAddClass();
            bindEditClass();
            bindAddSubmit();
            bindEditSubmit();
            bindDelClass();
        });
        function bindAddClass() {
            $('#addClass').click(function () {
                $('#addModal').modal({
                    keyboard: true,
                })
            })
        };
        function bindEditClass() {
            $('.modal_edit').click(function () {
                // 获取当前行的所有兄弟节点
                var row = $(this).parent().prevAll();
                // 改变编辑框的默认值
                var cls_name= $(row[0]).text();
                var class_id = $(row[1]).text();
                $('#editModal').modal({
                    keyboard: true,
                });
                $('#new_class_name').val(cls_name);
                $('#class_id').text(class_id);
            })
        };
        function bindAddSubmit(){
            $('#ajax_add_submit').click(function () {
                $.ajax({
                    // 往哪提交
                    url:'/model-add-class/',
                    // 以什么方式提交
                    type: 'POST',
                    // 提交的数据
                    data: {'class_name': $('#class_name').val(),
                        'teacher_id':$('#teacher_id').val()
                    },
                    success: function (data) {
                        var $res = JSON.parse(data)
                        // 当服务的处理完成后，返回数据时，该函数自动调用
                        // data 代表服务的返回的值;
                        if ($res.status){
                            alert('添加成功');
                            location.reload();
                        }
                        else {
                            $('#error_msg').text($res.message)
                        }
                    }
                })
            })
        };
        function bindEditSubmit(){
            $('#ajax_edit_submit').click(function () {
                $.ajax({
                    // 往哪提交
                    url:'/model-edit-class/',
                    // 以什么方式提交
                    type: 'POST',
                    // 提交的数据
                    data: {
                        'nid': $('#class_id').text(),
                        'class_name': $('#new_class_name').val(),
                    },
                    success: function (data) {
                        var $res = JSON.parse(data);
                        // 当服务的处理完成后，返回数据时，该函数自动调用
                        // data 代表服务的返回的值;
                        if ($res.status){
                            alert('编辑成功');
                            location.reload();
                        }
                        else {
                            $('#error_edit_msg').text($res.message)
                        }
                    }
                })
            })
        };
        function bindDelClass() {
            $('.del_class').click(function () {
                var row = $(this).parent().prevAll();
                $.ajax({
                    url:'/model-del-class/',
                    type:'GET',
                    data: {
                        'nid':$(row[1]).text()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status){
                            alert("删除成功");
                            location.reload();
                        }
                        else {
                            alert(data.message);
                        }
                    }
                })
            })
        };
    </script>

{% endblock %}
